<h2>Módulos, Lazy Load e Interceptores </h2>
<hr>

<div class="row">

  <div class="col-5">
    <h3>Menú</h3>
    <hr>
    <h4>Usuarios</h4>
      <ul class="list-group">
        <li class="list-group-item" routerLink="/usuarios/login">Login</li>
        <li class="list-group-item" routerLink="/usuarios/registro">Registro</li>
        <li class="list-group-item" routerLink="/usuarios/perfil">Perfil</li>
      </ul>
      <br/>
      <h4>Clientes</h4>
      <ul class="list-group">
        <li class="list-group-item" routerLink="/clientes/mantenimiento">Mantenimiento</li>
        <li class="list-group-item" routerLink="/clientes/albaranes">Albaranes</li>
        <li class="list-group-item" routerLink="/clientes/facturas">Facturas</li>
        <li class="list-group-item" routerLink="/clientes/paises">Paises</li>
      </ul>
      <br/>
      <h4>Proveedores</h4>
      <ul class="list-group">
        <li class="list-group-item" routerLink="/proveedores/compras">Compras</li>
        <li class="list-group-item" routerLink="/proveedores/almacen">Almacén</li>
        <li class="list-group-item" routerLink="/proveedores/pedidos">Pedidos</li>
      </ul>
  </div>

  <div class="col">
    <h3>Rutas</h3>
    <hr>
    <router-outlet></router-outlet>
  </div>

</div>

